{% extends "school/base.html" %}
{% block title %}Add Notice{% endblock %}

{% block content %}
<div class="card">
    <form method="POST">
        {% csrf_token %}

        <label>Title:</label>
        <input type="text" name="title" value="{{ notice.title|default:'' }}" required>

        <label>Message:</label>
        <textarea name="message" rows="5" required>{{ notice.message|default:'' }}</textarea>

        <button type="submit" class="btn">Save Notice</button>
    </form>
</div>
{% endblock %}
    