{% extends "school/base.html" %}

{% block title%}Change Password{% endblock %}

{% block content %}
<div class"card" style="max-width: 500px;">
    <h3>Change Password</h3>
     <p style="font-size:13px; color:var(--text-primary);padding-bottom:30px;padding-top:10px;">
        Enter your current password and choose a new one.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
{% endblock %}
