{% extends "school/base.html" %}

{%block title%}View Classroom - SMS{%endblock%}

{% block page_title %}Classroom Details{% endblock %}

{% block content %}
<div class="table-wrapper">
    <form method="GET" style="margin-bottom:15px; display:flex; gap:10px;">
    <input type="text" name="q" placeholder="Search class or section"
           value="{{ request.GET.q }}"
           style="padding:8px; width:250px;">
    <button class="btn">Search</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Class Name</th>
                <th>Section</th>
                <th>Class Teacher</th>
                <th>Number of Students</th>
                <th>Capacity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in classroom %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ room.class_name }}</td>
            <td>{{ room.section }}</td>
            <td>
                {{ room.class_teacher.username|default:"Not Assigned" }}
            </td>
            <td>{{ room.total_students }}</td>
            <td>{{ room.capacity }}</td>
            <td>
                <a href="{% url 'update_classroom' room.id %}" class="btn-sm btn-edit">Edit</a>
                <a href="{% url 'delete_classroom' room.id %}" class="btn-sm btn-delete">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" style="text-align:center; color:#6b7280;">
                No ClassRoom Available
            </td>
        </tr>
        {% endfor %}
    </tbody>

    </table>
</div>
{% endblock %}
        